
videos/
io_results/
FrameFolder/
FramesToADd/
speedy_results/
combine_results/
Individual Outlet Results/
Individual Inlet Results/
Carved After Images Predictions/
CARVED~1 Results/
CARVED~2 Results/
CARVED~3 Results/
